<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.java.mavnePrac.applicationTest"/>
      
      
      <class name="com.java.mavnePrac.demoTest"/>
      
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




